.welcome-block {
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 60px);
	background-color: $alt-2;
}
.welcome-item-center {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	position: relative;
}
.welcome-logo {
	padding-bottom: 0px;
	padding-top: 20px;
}
.service-logo {
	max-width: 300px;
	width: 100%;
}
.welcome-title {
	color: $secondary-1;
	font-size: 42px;
}
