$alt-1: #131313;
$alt-2: #1a1a1b;
$alt-3: #393e46;
$primary-1: #f05454;
$primary-2: #ffd369;
$primary-3: #4ecca3;
$primary-4: #5f85db;
$secondary-1: #f2f2f2;
$secondary-2: #9292ab;
$brand-blue: #464ade;
