<div class="navbar">
    <div class="nav-left">
    <a href="https://discord.plus/nl" class="button button-primary-1 nav-item">Discord Server</a>
     <a href="https://discord.plus/nl" class="button button-primary-1 nav-item">Github repo</a>
    </div>
<div class="nav-right">  <button class="button button-primary-1 nav-item">Login</button></div>
        
</div>
<div class="navbar-space"></div>