<div class="welcome-block">
    <div class="welcome-item-center welcome-logo">
<img src="/logo.svg" alt="Logo" class="service-logo">
    </div>
 <div class="welcome-item-center">
     <h1 class="welcome-title">Papercrown dForms</h1>
 </div>
  <div class="welcome-item-center">
   <button class="button button-primary-1 nav-item button-lg">New form</button>
   <button class="button button-primary-1 nav-item button-lg">My forms</button>
 </div>
   <div class="welcome-item-center">
       <p class="lead">   Papercrown dForms is a first fully decentralized forms service
           <br/> 
        Developed by <a href="http://www.angrymouse.hns.is">Angrymouse</a>, built on <a href="https://siasky.net">Skynet</a> <br/>Sponsored by... <a href="https://github.com/angrymouse/dforms/sponsor-me.md">Sponsor me please</a>
        <br/>
        
    </p>
    
   </div>
</div>